<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" type="text/css" th:href="@{/css/hostel.css}"/>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

        <script type="text/javascript" th:src="@{/js/hostel.js}"></script>
        <title th:text="${title}"></title>

        <style>
            input.dummy{
                margin-left: 2%;
                margin-right: 2%;
                margin-bottom: 4%;
                width: 16%;
            }

            button{
                margin-bottom: 2%;
                margin-right: 2%;
                width: 6%;
            }

        </style>

    </head>
    <body onload="addRooms()">


        <div>

            <input type="hidden" id="occupied_rooms" th:value="${occupied_rooms}">
            <input type="hidden" id="total_rooms" th:value="${hostel.rooms}">
            <input type="hidden" id="roomCapacity" th:value="${hostel.roomCapacity}">
            <input type="hidden" id="hostelId" th:value="${hostel.id}">

            <div th:replace="fragments/components :: menu"></div>

            <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
                <h1 class="display-4" th:text="${hostel.name}"></h1>
            </div>


            <div class="container">
                <div class="row">
                    <input type="button" class="btn btn-success dummy" disabled value="Available"/>
                    <input type="button" class="btn btn-warning dummy" disabled value="Partially Available"/>
                    <input type="button" class="btn btn-primary dummy" disabled value="Unavailable"/>
                </div>

                <div class="row">
                    <div class="col" id="list-room">
                    </div>
                </div>
            </div>

        </div>
    </body>
</html>