<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
    <head>
        <!--<link rel="stylesheet" type="text/css" th:href="@{/css/hostel.css}"/>-->

        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

        <!--<script type="text/javascript" th:src="@{/js/hostel.js}"></script>-->
        <title>E Hostel</title>

        <style>
            button{
                margin: 4%;
            }
        </style>

    </head>
    <body>


        <div>

            <div th:replace="fragments/components :: menu"></div>

            <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
                <h1 class="display-4">Notifications</h1>
            </div>

            <div class="container"  th:each="request:${messRequests}">
                <div class="row">
                    <div class="p-3 px-md-4 bg-white border-bottom box-shadow">
                        <p th:text="'Student ' + ${request.requestId.registrationNo} + ' is requested to close mess account from ' + ${#dates.format(request.dateFrom, 'dd-MM-yyyy')} + ' to ' + ${#dates.format(request.dateTo, 'dd-MM-yyyy')} + '.'"></p>
                        <button class="btn btn-success" th:attr="onclick=|window.location.href = '/admin/notification/${request.requestId.registrationNo}/mess'|" >Accept</button>
                    </div>
                </div>
            </div>

            <div class="container"  th:each="request:${leaveRequests}">
                <div class="row">
                    <div class="p-3 px-md-4 bg-white border-bottom box-shadow">
                        <p th:text="'Student ' + ${request.requestId.registrationNo} + ' is requested to leave Hostel.'"></p><br>
                        <button class="btn btn-success" th:attr="onclick=|window.location.href = '/admin/notification/${request.requestId.registrationNo}/leave'|" >Accept</button>
                    </div>
                </div>
            </div>

            <div class="container"  th:each="request:${roomRequests}">
                <div class="row">
                    <div class="p-3 px-md-4 bg-white border-bottom box-shadow">
                        <p th:text="'Student ' + ${request.requestId.registrationNo} + ' is requested to change room to ' + ${request.toRoom} + '.'"></p><br>
                        <button class="btn btn-success" th:attr="onclick=|window.location.href = '/admin/notification/${request.requestId.registrationNo}/room/${request.toRoom}'|" >Accept</button>
                        <button class="btn btn-danger" th:attr="onclick=|window.location.href = '/admin/notification/${request.requestId.registrationNo}/room/-1'|" >Decline</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>