<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Request</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</head>
<body onload="hideAll()">
    <h1 style="text-align: center;">Request</h1><br>
        <div class="container">
            <div class="row">
                <div class="col-sm-3"></div>
                    <div class="col-sm-8">

                        <form action="#" method="post" th:action="@{/user/mess/request}" th:object="${messRequest}">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" id="request1" onclick="showMess()">
                                <label class="form-check-label" for="request1">Mess account closing leaveRequest</label>
                                <div class="hidden1">
                                <div class="row">
                                        <div class="col-sm-2">
                                            <label for="fromDateInput">From:</label>
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="date" class="form-control" id="fromDateInput" th:field="*{dateFrom}">
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <label for="toDateInput">To:</label>
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="date" class="form-control" id="toDateInput" th:field="*{dateTo}">

                                        </div>
                                    </div>
                                    <br>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </form>

                        <form action="#" method="post" th:action="@{/user/room/request}" th:object="${roomRequest}">
                            <div class="form-check">
                                <br>
                                <input class="form-check-input" type="radio" id="request2" onclick="showRoom()">
                                <label class="form-check-label" for="request2">Room change leaveRequest</label>
                                <br>
                                <div class="hidden2">
                                <div class="row">
                                        <div class="col-sm-3">
                                            <label for="toDateInput">New room number:</label>
                                        </div>
                                        <div class="col-sm-7">
                                            <input type="number" class="form-control" th:field="*{toRoom}" id="roomChangeInput">
                                        </div>
                                    </div>
                                    <br>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </form>

                        <form action="#" method="post" th:action="@{/user/leave/request}" th:object="${leaveRequest}">

                            <div class="form-check">
                                <input class="form-check-input" type="radio" id="request3" onclick="showLeave()">
                                <label class="form-check-label" for="request3">Hostel Leaving</label>
                                <div class="hidden3">
                                    <br>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </form>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            function hideAll() {
                var element1 = document.getElementsByClassName("hidden1");

                for (var i = 0; i != element1.length; i++) {
                    element1[i].style.display = "none";
                }

                var element2 = document.getElementsByClassName("hidden2");

                for (var i = 0; i != element2.length; i++) {
                    element2[i].style.display = "none";
                }

                var element3 = document.getElementsByClassName("hidden3");

                for (var i = 0; i != element3.length; i++) {
                    element3[i].style.display = "none";
                }
            }

            function showMess(){
                if (document.getElementById('request1').checked) {
                    document.getElementById('request2').checked = false;
                    document.getElementById('request3').checked = false;

                    var element1 = document.getElementsByClassName("hidden1");

                    for (var i = 0; i != element1.length; i++) {
                        element1[i].style.display = "block";
                    }
                    var element2 = document.getElementsByClassName("hidden2");

                    for (var i = 0; i != element2.length; i++) {
                        element2[i].style.display = "none";
                    }

                    var element3 = document.getElementsByClassName("hidden3");

                    for (var i = 0; i != element3.length; i++) {
                        element3[i].style.display = "none";
                    }
                }
            }

            function showRoom(){
                if (document.getElementById('request2').checked) {
                    document.getElementById('request1').checked = false;
                    document.getElementById('request3').checked = false;


                    var element2 = document.getElementsByClassName("hidden2");

                    for (var i = 0; i != element2.length; i++) {
                        element2[i].style.display = "block";
                    }

                    var element1 = document.getElementsByClassName("hidden1");

                    for (var i = 0; i != element1.length; i++) {
                        element1[i].style.display = "none";
                    }

                    var element3 = document.getElementsByClassName("hidden3");

                    for (var i = 0; i != element3.length; i++) {
                        element3[i].style.display = "none";
                    }

                }
            }

            function showLeave(){
                if (document.getElementById('request3').checked){

                    document.getElementById('request2').checked = false;
                    document.getElementById('request1').checked = false;

                    var element3 = document.getElementsByClassName("hidden3");

                    for (var i = 0; i != element3.length; i++) {
                        element3[i].style.display = "block";
                    }

                    var element1 = document.getElementsByClassName("hidden1");

                    for (var i = 0; i != element1.length; i++) {
                        element1[i].style.display = "none";
                    }
                    var element2 = document.getElementsByClassName("hidden2");

                    for (var i = 0; i != element2.length; i++) {
                        element2[i].style.display = "none";
                    }
                }
            }
        </script>
</body>
</html>